---
open_redis_port: false
ansible_ssh_user: vagrant

discovery_branch: qa-deploy
vecnet_branch: master
rails_env: jcu
rails_secret_token: "{{ vault_rails_secret_token }}"

# define pubtkt_public_key_path to be a path to the key file
# or pubtkt_public_key if we have the contents of the key file
pubtkt_public_key_path:


# list of email address to send server admin email to
# (There are more configuration options in each role, grep for _email)
admin_email:


# e.g. /etc/nginx/20140403.vecnet.org.crt
# and /etc/nginx/20140403.vecnet.org.key
ssl_cert_path:
ssl_key_path:
site_fqdn: "{{ ansible_hostname }}"
restrict_access: false

fedora_password: "{{ vault_fedora_password }}"

# postgres password for the repository application
vecnet_db_pass: "{{ vault_vecnet_db_pass }}"

# postgres password for the discovery application
discovery_db_pass: "{{ vault_discovery_db_pass }}"

# postgres password for fedora
fedora_db_pass: "{{ vault_fedora_db_pass }}"


# this is for standalone builds, production should override this
db_hostname: localhost
