{{ rails_env }}: &main
  adapter: postgresql
  encoding: utf8
  pool: 5
  timeout: 5000
  host: {{ db_hostname }}
  database: {{ vecnet_db_name }}
  username: {{ vecnet_db_user }}
  password: {{ vecnet_db_pass }}

{{ rails_env }}_remote_purl_database:
  <<: *main
