{{ rails_env }}: &main
  adapter: postgresql
  encoding: utf8
  pool: 5
  timeout: 5000
  host: {{ db_hostname }}
  database: {{ db_name }}
  username: {{ db_user }}
  password: {{ db_password }}

{{ rails_env }}_remote_purl_database:
  <<: *main
