#!/bin/bash

{% if disadis_finish_email %}
MAILTO={{ disadis_finish_email }}

mail -s "disadis $(hostname)" $MAILTO <<EOF
On $(date) disadis exited with codes:
$*
EOF
{% else %}
# disadis_finish_email was not defined
{% endif %}
