[General]
fedora-addr = http://{{ fedora_user }}:{{ fedora_password }}@localhost:8081/fedora/
log-filename = /opt/log/disadis/disadis.log
admin = dl_librarian

[Handler "dl"]
port        = {{ disadis_port }}
prefix      = vecnet:
datastream  = content
versioned   = true

{% if pubtkt_public_key_path %}
auth        = true

[Pubtkt]
key-file = {{ pubtkt_public_key_path }}

{% endif %}

[Handler "thumb"]
port            = {{ disadis_port }}
prefix          = vecnet:
datastream      = thumbnail
datastream-id   = thumbnail
